.x .c1-1 {
  letter-spacing: normal
}

.x .c1-2 {
  text-transform: none
}

.x .c1-3 {
  background-color: rgb(255, 255, 255)
}

.x .c1-4 {
  width: 100%
}

.x .c1-5>div {
  position: relative
}

.x .c1-6>div {
  overflow: hidden
}

.x .c1-7>div {
  margin-top: auto
}

.x .c1-8>div {
  margin-right: auto
}

.x .c1-9>div {
  margin-bottom: auto
}

.x .c1-a>div {
  margin-left: auto
}

.x .c1-b {
  font-family: 'Source Sans Pro', arial, sans-serif
}

.x .c1-c {
  font-size: 16px
}

.x .c1-h {
  background-color: rgb(22, 22, 22)
}

.x .c1-i {
  padding-top: 56px
}

.x .c1-j {
  padding-bottom: 56px
}

.x .c1-k {
  overflow: hidden
}

.x .c1-l {
  padding: 0px !important
}

.x .c1-o {
  position: relative
}

.x .c1-p {
  flex-grow: 1
}

.x .c1-q {
  display: flex
}

.x .c1-r {
  align-items: center
}

.x .c1-s {
  justify-content: flex-start
}

.x .c1-t {
  flex-direction: column
}

.x .c1-u {
  min-height: 500px
}

.x .c1-v {
  background-position: center
}

.x .c1-w {
  background-size: auto, cover
}

.x .c1-x {
  background-blend-mode: normal
}

.x .c1-y {
  background-repeat: no-repeat
}

.x .c1-z {
  text-shadow: none
}

.x .c1-1m {
  position: static
}

.x .c1-1o {
  z-index: 3
}

.x .c1-1p {
  background-color: transparent
}

.x .c1-1q {
  transition: background .3s
}

.x .c1-1r {
  padding-top: 24px
}

.x .c1-1s {
  padding-bottom: 24px
}

.x .c1-1t {
  padding-left: 24px
}

.x .c1-1u {
  padding-right: 24px
}

.x .c1-1v {
  z-index: auto
}

.x .c1-20 {
  flex-wrap: nowrap
}

.x .c1-21 {
  margin-top: 0px
}

.x .c1-22 {
  margin-right: 0px
}

.x .c1-23 {
  margin-bottom: 0px
}

.x .c1-24 {
  margin-left: 0px
}

.x .c1-25 {
  [object -object]: 0px
}

.x .c1-27 {
  width: 0px
}

.x .c1-28 {
  padding-right: 0px
}

.x .c1-29 {
  padding-left: 0px
}

.x .c1-2a {
  text-align: center
}

.x .c1-2b {
  justify-content: center
}

.x .c1-2c {
  overflow-wrap: break-word
}

.x .c1-2d {
  padding-left: 8px
}

.x .c1-2e {
  padding-right: 8px
}

.x .c1-2f {
  display: inline-block
}

.x .c1-2g {
  font-family: 'Playfair Display', Georgia, serif
}

.x .c1-2k {
  letter-spacing: inherit
}

.x .c1-2l {
  text-transform: inherit
}

.x .c1-2m {
  text-decoration: none
}

.x .c1-2n {
  word-wrap: break-word
}

.x .c1-2o {
  display: inline
}

.x .c1-2p {
  cursor: pointer
}

.x .c1-2q {
  border-top: 0px
}

.x .c1-2r {
  border-right: 0px
}

.x .c1-2s {
  border-bottom: 0px
}

.x .c1-2t {
  border-left: 0px
}

.x .c1-2u {
  max-width: 100%
}

.x .c1-2v {
  color: rgb(127, 128, 128)
}

.x .c1-2w {
  font-weight: inherit
}

.x .c1-2x:hover {
  color: rgb(191, 191, 191)
}

.x .c1-2y:active {
  color: rgb(219, 219, 219)
}

.x .c1-2z {
  letter-spacing: 4px
}

.x .c1-30 {
  text-transform: uppercase
}

.x .c1-31 {
  line-height: 1.2
}

.x .c1-32 {
  font-family: 'Montserrat', sans-serif
}

.x .c1-33 {
  color: rgb(247, 247, 247)
}

.x .c1-34 {
  font-size: 22px
}

.x .c1-35 {
  font-weight: 700
}

.x .c1-3a {
  word-wrap: normal !important
}

.x .c1-3b {
  overflow-wrap: normal !important
}

.x .c1-3c {
  display: none
}

.x .c1-3d {
  visibility: hidden
}

.x .c1-3e {
  position: absolute
}

.x .c1-3f {
  width: auto
}

.x .c1-3g {
  overflow: visible
}

.x .c1-3h {
  left: 0px
}

.x .c1-3i {
  font-size: 26px
}

.x .c1-3n {
  font-size: 18px
}

.x .c1-3s {
  justify-content: flex-end
}

.x .c1-3t {
  margin-left: auto
}

.x .c1-3u {
  margin-right: auto
}

.x .c1-3v {
  box-sizing: border-box
}

.x .c1-3w {
  flex-direction: row
}

.x .c1-3x {
  padding-top: 0px
}

.x .c1-3y {
  padding-bottom: 0px
}

.x .c1-40 {
  flex-shrink: 1
}

.x .c1-41 {
  flex-basis: 0%
}

.x .c1-44 {
  line-height: 24px
}

.x .c1-45 {
  z-index: 1
}

.x .c1-49 {
  vertical-align: top
}

.x .c1-4a {
  padding-left: 32px
}

.x .c1-4b {
  white-space: nowrap
}

.x .c1-4c:first-child {
  padding-left: 0
}

.x .c1-4d {
  letter-spacing: 0.071em
}

.x .c1-4e {
  font-size: 14px
}

.x .c1-4f {
  font-weight: 400
}

.x .c1-4g:hover {
  color: rgb(247, 247, 247)
}

.x .c1-4h:active {
  color: rgb(247, 247, 247)
}

.x .c1-4m {
  color: inherit
}

.x .c1-4n {
  transition: transform .33s ease-in-out
}

.x .c1-4o {
  transform: rotate(0deg)
}

.x .c1-4p {
  vertical-align: middle
}

.x .c1-58 {
  margin-bottom: 8px
}

.x .c1-59 {
  display: block
}

.x .c1-5a {
  white-space: pre-line
}

.x .c1-5b {
  font-size: 40px
}

.x .c1-5c {
  color: rgb(255, 255, 255)
}

.x .c1-5l {
  font-size: 32px
}

.x .c1-5q {
  font-size: 28px
}

.x .c1-5t {
  line-height: 1.25
}

.x .c1-5u {
  margin-top: -4px
}

.x .c1-5v {
  margin-bottom: 32px
}

.x .c1-5w {
  flex-wrap: wrap
}

.x .c1-5x {
  margin-right: -12px
}

.x .c1-5y {
  margin-left: -12px
}

.x .c1-63 {
  padding-right: 12px
}

.x .c1-64 {
  padding-left: 12px
}

.x .c1-6f {
  line-height: 1.5
}

.x .c1-6g {
  margin-bottom: 16px
}

.x .c1-6h {
  text-wrap: pretty
}

.x .c1-6i {
  color: rgb(164, 164, 164)
}

.x .c1-6k {
  margin-bottom: 24px
}

.x .c1-6p {
  background-color: rgba(22, 22, 22, 0)
}

.x .c1-6q {
  border-color: rgb(255, 255, 255)
}

.x .c1-6r {
  border-top-width: 1px
}

.x .c1-6s {
  border-right-width: 1px
}

.x .c1-6t {
  border-bottom-width: 1px
}

.x .c1-6u {
  border-left-width: 1px
}

.x .c1-6v {
  border-radius: 4px
}

.x .c1-6w {
  border-style: solid
}

.x .c1-6x {
  padding-top: 23px
}

.x .c1-6y {
  padding-bottom: 7px
}

.x .c1-6z {
  padding-left: 16px
}

.x .c1-70 {
  padding-right: 16px
}

.x .c1-71 {
  color: rgb(191, 191, 191)
}

.x .c1-72::placeholder {
  color: inherit
}

.x .c1-73:focus {
  outline: none
}

.x .c1-74:focus {
  box-shadow: inset 0 0 0 1px currentColor
}

.x .c1-75:focus+label {
  font-size: 12px
}

.x .c1-76:focus+label {
  top: 8px
}

.x .c1-77:focus+label {
  color: rgb(127, 128, 128)
}

.x .c1-78:not([value=""])+label {
  font-size: 12px
}

.x .c1-79:not([value=""])+label {
  top: 8px
}

.x .c1-7a:not([value=""])+label {
  color: rgb(127, 128, 128)
}

.x .c1-7b::-webkit-input-placeholder {
  color: inherit
}

.x .c1-7d {
  top: 33%
}

.x .c1-7e {
  left: 16px
}

.x .c1-7f {
  transition: all .15s ease
}

.x .c1-7g {
  pointer-events: none
}

.x .c1-7h {
  border-style: none
}

.x .c1-7i {
  display: inline-flex
}

.x .c1-7j {
  padding-right: 32px
}

.x .c1-7k {
  padding-top: 8px
}

.x .c1-7l {
  padding-bottom: 8px
}

.x .c1-7m {
  min-height: 56px
}

.x .c1-7n {
  border-radius: 4px
}

.x .c1-7o {
  color: rgb(0, 0, 0)
}

.x .c1-7p:hover {
  background-color: rgb(233, 233, 233)
}

.x .c1-7s {
  flex-grow: 3
}

.x .c1-7t {
  flex-basis: 100%
}

.x .c1-7w {
  color: rgb(169, 169, 169)
}

.x .c1-7y {
  font-size: inherit !important
}

.x .c1-7z {
  line-height: inherit
}

.x .c1-80 {
  font-style: italic
}

.x .c1-81 {
  text-decoration: line-through
}

.x .c1-82 {
  text-decoration: underline
}

.x .c1-83 {
  margin-top: 24px
}

.x .c1-85 {
  margin-bottom: 4px
}

.x .c1-86 {
  position: fixed
}

.x .c1-87 {
  right: 0px
}

.x .c1-88 {
  z-index: 10000
}

.x .c1-89 {
  height: auto
}

.x .c1-8a {
  text-align: left
}

.x .c1-8b {
  background-color: rgb(111, 111, 111)
}

.x .c1-8c {
  border-radius: 0px
}

.x .c1-8d {
  overflow-y: auto
}

.x .c1-8e {
  transition: all 1s ease-in
}

.x .c1-8f {
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3)
}

.x .c1-8g {
  contain: content
}

.x .c1-8h {
  bottom: -500px
}

.x .c1-8s {
  max-height: 300px
}

.x .c1-8u {
  justify-content: space-between
}

.x .c1-8v {
  word-break: break-word
}

.x .c1-8w {
  flex-basis: 50%
}

.x .c1-8x {
  padding-top: 4px
}

.x .c1-8y {
  padding-bottom: 4px
}

.x .c1-8z {
  min-height: 40px
}

.x .c1-90 {
  font-size: 12px
}

.x .c1-91:nth-child(2) {
  margin-left: 24px
}

.x .c1-92:hover {
  background-color: rgb(255, 255, 255)
}

.x .c1-97 {
  right: 24px
}

.x .c1-98 {
  bottom: 24px
}

.x .c1-99 {
  z-index: 9999
}

.x .c1-9a {
  width: 65px
}

.x .c1-9b {
  height: 65px
}

.x .c1-9d {
  height: 100%
}

.x .c1-9e {
  border-radius: 50%
}

.x .c1-9f {
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.25)
}

.x .c1-9g {
  transform: translateZ(0)
}