
@media (max-width: 450px) {
  .x .c1-10 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:450,m")
  }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 450px) and (min-resolution: 192dpi) {
  .x .c1-11 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:900,m")
  }
}

@media (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3),
(max-width: 450px) and (min-resolution: 288dpi) {
  .x .c1-12 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:1350,m")
  }
}

@media (min-width: 451px) and (max-width: 767px) {
  .x .c1-13 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:767,m")
  }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 192dpi) {
  .x .c1-14 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:1534,m")
  }
}

@media (min-width: 451px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 451px) and (max-width: 767px) and (min-resolution: 288dpi) {
  .x .c1-15 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:2301,m")
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .x .c1-16 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:1023,m")
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi) {
  .x .c1-17 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:2046,m")
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 768px) and (max-width: 1023px) and (min-resolution: 288dpi) {
  .x .c1-18 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:3069,m")
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .x .c1-19 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:1279,m")
  }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 192dpi) {
  .x .c1-1a {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:2558,m")
  }
}

@media (min-width: 1024px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1024px) and (max-width: 1279px) and (min-resolution: 288dpi) {
  .x .c1-1b {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:3837,m")
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .x .c1-1c {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:1535,m")
  }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 192dpi) {
  .x .c1-1d {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:3070,m")
  }
}

@media (min-width: 1280px) and (max-width: 1535px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1280px) and (max-width: 1535px) and (min-resolution: 288dpi) {
  .x .c1-1e {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:4605,m")
  }
}

@media (min-width: 1536px) and (max-width: 1920px) {
  .x .c1-1f {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:1920,m")
  }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 192dpi) {
  .x .c1-1g {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:3840,m")
  }
}

@media (min-width: 1536px) and (max-width: 1920px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1536px) and (max-width: 1920px) and (min-resolution: 288dpi) {
  .x .c1-1h {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:5760,m")
  }
}

@media (min-width: 1921px) {
  .x .c1-1i {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:100%25")
  }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1921px) and (min-resolution: 192dpi) {
  .x .c1-1j {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:100%25")
  }
}

@media (min-width: 1921px) and (-webkit-min-device-pixel-ratio: 3),
(min-width: 1921px) and (min-resolution: 288dpi) {
  .x .c1-1k {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%), url("//img1.wsimg.com/isteam/stock/6104/:/rs=w:100%25")
  }
}